[Unit]
Description=Motion Cam 1 - 8001 - RGE Living Room Top

[Service]
ExecStart=/usr/bin/motion -c /etc/motion/motion-8001.conf
User={{ ansible_user }}
Environment=PATH=/bin:/usr/bin:/usr/local/bin:$PATH
TimeoutSec=600
RestartSec=10
Restart=always

[Install]
Alias=motion.cam1.service
WantedBy=multi-user.target