[Unit]
Description=Motion Cam 3 - 8003 - RGE Living Room
Requires=otn.ffserver.rtsp.service
After=otn.ffserver.rtsp.service

[Service]
ExecStart=/usr/bin/motion -c /etc/motion/motion-8003.conf
User={{ ansible_user }}
Environment=PATH=/bin:/usr/bin:/usr/local/bin:$PATH
TimeoutSec=600
RestartSec=10
Restart=always

[Install]
Alias=motion.cam3.service
WantedBy=multi-user.target