[Unit]
Description=LibreNMS Network Monitoring
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop
User=otterstedt
Group=docker
Environment=PATH=/bin:/usr/bin:/usr/local/bin:$PATH
WorkingDirectory=/home/otterstedt/librenms/
TimeoutSec=600

[Install]
Alias=librenms.service
WantedBy=multi-user.target

## 
# https://github.com/librenms/docker/tree/master/examples/compose -> ~/librenms
# port 8000

# user management
# docker-compose exec librenms lnms

# scan devices
# sudo docker-compose exec librenms lnms scan

## https://computingforgeeks.com/how-to-monitor-vmware-esxi-host-using-librenms/
# esxcli system snmp set --communities public,otternet
# esxcli system snmp set --port 161
# esxcli system snmp set --enable true
# esxcli system snmp set --syscontact otterstedt@gmail.com
# esxcli system snmp set --syslocation sln

# Clients
# sudo apt install snmpd snmp libsnmp-dev
# sudo systemctl enable --now snmpd
# sudo systemctl status snmpd
# sudo vi /etc/snmp/snmpd.conf
