[Unit]
Description=Emulator.js Docker
Requires=docker.service
After=docker.service

[Service]

ExecStart=/usr/bin/docker run --rm \
  --name=emulatorjs \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=America/Montreal \
  -p 3000:3000 \
  -p 80:80 \
  -p 4001:4001 \
  -v /home/{{ ansible_user }}/emujs/config:/config \
  -v /home/{{ ansible_user }}/emujs/data:/data \
  lscr.io/linuxserver/emulatorjs:1.7.2-ls52
ExecStop=/usr/bin/docker stop emulatorjs
ExecReload=/usr/bin/docker restart emulatorjs
User={{ ansible_user }}
RestartSec=10
Restart=always
Group=docker
Environment=PATH=/bin:/usr/bin:/usr/local/bin:$PATH
WorkingDirectory=/home/{{ ansible_user }}/emujs
TimeoutSec=600
StandardOutput=journal
StandardError=journal
SyslogIdentifier=otn.emujs

[Install]
Alias=emujs.service
WantedBy=multi-user.target

# https://github.com/linuxserver/docker-emulatorjs