[Unit]
Description=Homeassistant Docker
Requires=docker.service
After=docker.service influxdb.service

[Service]
ExecStart=/usr/bin/docker run --rm --privileged --name=home-assistant -v=/home/{{ ansible_user }}/.aws:/root/.aws -v=/home/{{ ansible_user }}/homeass/config:/config -v=/etc/localtime:/etc/localtime:ro --net=host otterstedt/home-assistant-clitools
ExecStop=/usr/bin/docker stop home-assistant
ExecReload=/usr/bin/docker restart home-assistant
User={{ ansible_user }}
RestartSec=10
Restart=always
Group=docker
Environment=PATH=/bin:/usr/bin:/usr/local/bin:$PATH
WorkingDirectory=/home/{{ ansible_user }}/homeass
TimeoutSec=600
StandardOutput=journal
StandardError=journal
SyslogIdentifier=otn.hass

[Install]
Alias=hass.service
WantedBy=multi-user.target