[Unit]
Description=InfluxDB Docker
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --name=influxdb -p 8086:8086 -v /home/otterstedt/influxdb2:/var/lib/influxdb2 influxdb:2.2.0
ExecStop=/usr/bin/docker stop influxdb
ExecStopPost=/usr/bin/docker rm influxdb
ExecReload=/usr/bin/docker restart influxdb
User=otterstedt
RestartSec=10
Restart=always
TimeoutSec=600

[Install]
Alias=influxdb.service
WantedBy=multi-user.target